/** ~~~~~~~~~~~~~~~~~~~~~~~ MAIN ~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

.site-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 200px;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  gap: 150px;
  width: 90vw;
}

/** ~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

header {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: repeating-linear-gradient(90deg, #bfd0e9 0, #bfd0e9 5%, transparent 0, transparent 50%), repeating-linear-gradient(180deg, #bfd0e9 0, #bfd0e9 5%, transparent 0, transparent 50%);
  background-size: 2em 2em;
  background-color: #ecf0f2;
}

.header-nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  color: var(--color-3);
}

.nav-link:hover {
  color: var(--color-2);
}

.active-link {
  color: blue;
  font-weight: bold;
}

.social-icons {
  display: flex;
  gap: 1.5rem;
}

.icon {
  font-size: 1.8rem;
  color: var(--color-3);
  transition: color 0.3s ease;
}

.icon:hover {
  color: var(--color-2);
}

.icon-link {
  display: flex;
  align-items: center;
}

/** ~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

.footer {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: auto;
}

.footer-copyright {
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .footer-icon {
    width: 1.7rem;
  }
}
