/** ~~~~~~~~~~~~~~~~~~~~~~~ HOME ~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/
.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  
}

.home-h1 {
  font-family: "Dela Gothic One", sans-serif
}

.rotating-svg {
  animation: spin 4s linear infinite;
  width: 100px;
  height: 100px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/** ~~~~~~~~~~~~~~~~~~~~~~~ ABOUT ~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/
.about-section {
  width: 80vw;
  padding: 4rem 2rem;
  text-align: center;
}

.about-h1 {
  font-family: "Dela Gothic One", sans-serif
}

.resume-link {
  display: inline-flex;
  align-items: center;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: white;
  background-color: var(--color-3);
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

.resume-link:hover {
  background-color: var(--color-2);
}



/** ~~~~~~~~~~~~~~~~~~~~~~~ PROJECTS ~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

.projects-container {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.projects-header {
  font-family: "Dela Gothic One", sans-serif
}

.card-list {
  column-count: 1;
  column-gap: 1.4rem;
}


.card {
  break-inside: avoid;
  background-color: #fdfdfd;
  border: 1px solid rgba(100, 100, 100, 0.2);
  border-radius: 0.3rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;
  text-align: left;
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  display: block;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
}

.card-title {
  font-size: 1.6rem;
  font-weight: bold;
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tech-bubble {
  background-color: var(--color-3);
  color: white;
  padding: 0.25rem 0.6rem;
  font-size: 0.75rem;
  border-radius: 0.3rem ;
  text-transform: uppercase;
}

.card-description {
  font-size: 1rem;
  line-height: 1.5;
  color: #666;
}

.links-container {
  display: flex;
  gap: 1rem;
  margin-top: auto;
}

.link-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--color-4);
  border: 1px solid var(--color-4);
  padding: 0.3rem 0.75rem;
  border-radius: 0.3rem;
  transition: background 0.2s;
}

.link-button:hover {
  background-color: var(--color-3);
  color: var(--color-1);
  border: var(--color-3);
}

.projects-icon {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .card-list {
    column-count: 2;
  }
}

@media (min-width: 1024px) {
  .card-list {
    column-count: 3;
  }
}


/** ~~~~~~~~~~~~~~~~~~~~~~~ CONTACT ~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

.contact-container {
  text-align: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.contact-header {
  font-family: "Dela Gothic One", sans-serif;
}

.contact-container p {
  font-size: 1.1rem;
}

.contact-button {
  background-color: var(--color-3);
  color: var(--color-1);
  border: none;
  padding: 1rem 1.75rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
  margin-top: 4rem;
}

.contact-button:hover {
  background-color: var(--color-4);
}


/** ~~~~~~~~~~~~~~~~~~~~~~~ CANVAS ~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/


canvas {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 0;
  pointer-events: none;
}



canvas {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 0;
  pointer-events: none;
}

/** ~~~~~~~~~~~~~~~~~~~~~~~ MEDIA QUERY ~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

@media (max-width: 900px) {
  .card-list {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  .card-list {
    column-count: 1;
  }
}

