:root {
  --color-1: #d6e8f6;
  --color-2: #84a3d2;
  --color-3: #4668a8;
  --color-4: #2c4169;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: var(--color-4);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.this {
  font-family: "Poppins", sans-serif;
  font-family: "Dela Gothic One", sans-serif;
}

/** ~~~~~~~~~~~~~~~~~~~~~~~ COLORS ~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

.colors {
  color: var(--color-1);
  color: var(--color-3);
  color: var(--color-4);
}
