
body {
  background-image: url('/src/assets/images/background.png');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

:root {
  color: #502c24;
  background-color: #ece4dc;
}

